flows.json
[{"id":"9a6354f9.368e28","type":"ui_form","z":"338e0ffc.a9fdd","name":"","label":"bank details","group":"202b6bef.b79c14","order":1,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true},{"label":"job","value":"job","type":"number","required":true},{"label":"education","value":"education","type":"number","required":true},{"label":"duration","value":"duration","type":"number","required":true},{"label":"previous","value":"previousv","type":"number","required":true},{"label":"consconfidx","value":"conf","type":"number","required":true},{"label":"euribor3m","value":"euribor3m","type":"number","required":true},{"label":"nremployed","value":"nremployed","type":"number","required":true}],"formValue":{"age":"","job":"","education":"","duration":"","previousv":"","conf":"","euribor3m":"","nremployed":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":202.38461303710938,"y":92.38460922241211,"wires":[["90948cd2.6b31e"]]},{"id":"90948cd2.6b31e","type":"function","z":"338e0ffc.a9fdd","name":"parameters","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"job\",msg.payload.job)\nglobal.set(\"education\",msg.payload.education)\nglobal.set(\"duration\",msg.payload.duration)\nglobal.set(\"previousv\",msg.payload.previousv)\nglobal.set(\"conf\",msg.payload.conf)\nglobal.set(\"euribor3m\",msg.payload.euribor3m)\nglobal.set(\"nremployed\",msg.payload.nremployed)\n\nreturn msg;","outputs":1,"noerr":0,"x":496.84619140625,"y":87.61538505554199,"wires":[["8b1c79f1.133c58"]]},{"id":"8b1c79f1.133c58","type":"http request","z":"338e0ffc.a9fdd","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":729.8461265563965,"y":90.15384674072266,"wires":[["6ed1dcff.5d8204","f8ce859d.306168"]]},{"id":"6ed1dcff.5d8204","type":"debug","z":"338e0ffc.a9fdd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1005.5383834838867,"y":55.00000190734863,"wires":[]},{"id":"f8ce859d.306168","type":"function","z":"338e0ffc.a9fdd","name":"prediction","func":"var token=msg.payload.token\nvar age=global.get('age')\nvar job=global.get('job')\nvar education=global.get('education')\nvar duration=global.get('duration')\nvar previousv=global.get('previousv')\nvar conf=global.get('conf')\nvar euribor3m=global.get('euribor3m')\nvar nremployed=global.get('nremployed')\nmsg.payload={\"fields\":[\"age\",\"job\",\"education\",\"duration\",\"previousv\",\"consconfidx\",\"euribor3m\",\"nremployed\"],values:[[age,job,education,duration,previousv,conf,euribor3m,nremployed]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":497.23079681396484,"y":220.7692165374756,"wires":[["d2b741d9.41f8b"]]},{"id":"d2b741d9.41f8b","type":"http request","z":"338e0ffc.a9fdd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/020da6be-f387-4dbc-8316-c1de8e05a537/deployments/dd52f820-fa93-48f7-ab86-eb3f6b406341/online","tls":"","proxy":"","authType":"basic","x":730.7692756652832,"y":224.15383434295654,"wires":[["215df7b4.d52c68","4c80d26a.906c6c"]]},{"id":"215df7b4.d52c68","type":"debug","z":"338e0ffc.a9fdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":954.0768203735352,"y":373.1539134979248,"wires":[]},{"id":"4c80d26a.906c6c","type":"function","z":"338e0ffc.a9fdd","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":981.076904296875,"y":134.6153793334961,"wires":[["1eba97ac.9c1f48"]]},{"id":"1eba97ac.9c1f48","type":"ui_text","z":"338e0ffc.a9fdd","group":"202b6bef.b79c14","order":2,"width":0,"height":0,"name":"","label":"prediction ","format":"{{msg.payload}}","layout":"row-spread","x":1086.9230769230767,"y":280.7692307692307,"wires":[]},{"id":"202b6bef.b79c14","type":"ui_group","z":"","name":"input","tab":"2ad20289.acbf4e","disp":true,"width":"6","collapse":false},{"id":"2ad20289.acbf4e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]